all:
  vars:
    ansible_connection: ssh
    ansible_user: root
    ansible_ssh_private_key_file: ${private_key}
  hosts:
    ${codeserver}:
      ansible_host: ${host}
      codeserver_domain: ${domain}
      codeserver_password: ${password}
